.lighter-container {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.lighter-container .lighter--bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.lighter-container .lighter--img {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.lighter-container .lighter--counter {
  position: fixed;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  color: white;
  background: rgba(0, 0, 0, .7);
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-transition: all .25s;
  transition: all .25s;
  z-index: 6000;
}

.lighter-container .lighter--close {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 6000;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  top: 10px;
  right: 10px;
  opacity: .8;
}

.lighter-container .lighter--close:after {
  content: "";
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
          transform: translate(-50%,-50%) rotate(45deg);
}

.lighter-container .lighter--close:before {
  content: "";
  width: 2px;
  height: 20px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
          transform: translate(-50%,-50%) rotate(-45deg);
}

.lighter-container .lighter--img.lighter--changing {

}

@media all and (max-height: 400px) {
  .lighter-container .lighter--counter {
    bottom: 10px;
  }
}